body {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    background: linear-gradient(to right, rgb(59, 59, 59), rgb(180, 180, 180));
    text-align: center;
}
h1 {
    color: rgb(0, 0, 0);
}
p {
    color: rgb(0, 0, 0);
}

.gradient-box {
    background: linear-gradient(to bottom right, green, yellow);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    }
